<!-- Sidebar only for admin layout -->
<nav class="sidebar-menu desktop-sidebar">
  <a routerLink="admin-dashboard" class="sidebar-link">
    <i class="sidebar-icon fa fa-tachometer-alt"></i> Dashboard<span class="arrow">▶</span>
  </a>
  <a routerLink="active-jobs" class="sidebar-link">
    <i class="sidebar-icon fa fa-briefcase"></i> Active Jobs <span class="arrow">▶</span>
  </a>
  <a routerLink="cancelled-jobs" class="sidebar-link">
    <i class="sidebar-icon fa fa-ban"></i> Cancelled <span class="arrow">▶</span>
  </a>
  <a routerLink="completed-jobs" class="sidebar-link">
    <i class="sidebar-icon fa fa-check-circle"></i> Completed <span class="arrow">▶</span>
  </a>
  <a routerLink="feedbacks" class="sidebar-link">
    <i class="sidebar-icon fa fa-comments"></i> Feedbacks <span class="arrow">▶</span>
  </a>
</nav>
