<app-header></app-header>
<div class="status-section">
  <h3>Job Status</h3>
  @if (userJobs.length > 0) {
  <table class="job-status-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Car Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Areas Affected</th>
        <th>Work Required</th>
        <th>Tracking Adjusted</th>
        <th>New Components</th>
        <th>Note</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (job of userJobs; track $index) {
      <tr>
        <td>{{ job.customerName }}</td>
        <td>{{ job.carName }}</td>
        <td>{{ job.bookingDate }}</td>
        <td>{{ job.bookingTime }}</td>
        <td>{{ job.areasAffected }}</td>
        <td>{{ job.workRequired }}</td>
        <td>{{ job.trackingAdjusted }}</td>
        <td>{{ job.newComponents }}</td>
        <td>{{ job.note }}</td>
        <td>
          <span
            [ngClass]="{
              'status-pending': job.status === 'pending',
              'status-completed': job.status === 'completed',
              'status-cancelled': job.status === 'cancelled'
            }"
            >{{ job.status }}</span
          >
          @if (job.status === 'pending') {
          <button
            (click)="cancelJob(job.id)"
            class="cancel-btn status-cancel-btn"
            title="Cancel Job"
          >
            Cancel Job
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @if (userJobs.length === 0) {
  <div>No jobs found..</div>
  }
</div>

<!-- <app-footer></app-footer> -->
